medium/Leetcode1980_FindUniqueBinary/.vs/Leetcode1980_FindUniqueBinary/FileContentIndex/6be84a2a-03df-42b4-aeed-28c5122d3db5.vsidx
medium/Leetcode1980_FindUniqueBinary/.vs/Leetcode1980_FindUniqueBinary/FileContentIndex/read.lock
